
/*
    Archivo de los estilo 1
    Aplicado a:
    - contactenos
    - nosotros
    - principal
*/

section {
    overflow-y: scroll;
    position: fixed;        /*posición fija*/
    top: 100px;             /* concuerda con ancho del header*/
    left: 0;                /*concuerda con ancho del aside*/
    bottom: 40px;   
    width: 100%;
    padding: 0 0 100px;
}

.position { /*para dar posición general a los objetos */
    margin: 0 100px 10px;
    text-align: left;
}


/* PRINCIPAL -----------------------------------------------------------------*/

.portada{
    position: relative;
    text-align: center;
    padding: 150px 350px;
}

.bg{ /* Imagen de portada */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*Para saber qué elementos están más arriba que otros*/
    width: 100%;
}

article h3{
    padding-top: 140px;
}
 
/* ARTICULO Style 1 --------------------------- */

.artS1{                     /*Se usa también en asesores*/
    margin-bottom: 270px;
    top:0;
    left:0;
}

.artS1 img, .artS1 figure, .artS1 form{
    float:left;
    margin-right: 40px;
}

.artS1 a {margin-top: 20px}

/* ARTICULO Style 2 -------------------------- */

.artS2{
    margin-bottom: 230px;
} 

.artS2 h2, .artS2 h3, .artS2 p{
    width: 500px;
}

.artS2 img, .artS2 iframe, .artS2 form{
    right:0;
    float:right; 
    margin-right: 40px;
}

.artS2 a {margin-top: 20px}


/* TIENDA-PRENDA ------------------------------------------------------------ */

/* DIRECCION DE PÁGINA ----*/

.dir{
    margin: 0 100px;
    font-size: 18px;
    font-stretch: expanded;
    color: grey;
    text-decoration: none;
}

.dir:hover{
    text-decoration: underline;
}

.dir:active{
    text-decoration: underline;
    color: black;
}

/* CONTENIDO DE PÁGINA ----*/

.content{
    margin-bottom: 100px;
}

.content h4, .content p{
    font-size: 22px;
} 

.content img{
    float:left;
    height:650px;
    margin-right: 60px; 
}

/* ESTRUCTURA DE ARTÍCULOS ----*/

.nomItem {
    font-size: 20px;
}

.articulo{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.articulo h3, .articulo p .articulo h4{
    width: 200px;
}

.articulo a{
    margin: 0 auto;
    width: 200px;
}

.articulo img{
    width: 250px;
    height: 250px;
}






