
/*
    Archivo de los estilo 2
    Aplicado a:
    - blog
    - tienda
*/

body {       
    box-sizing: border-box;
}

aside {
    position: fixed;   /*posición fija*/
    overflow-y: scroll;
    top: 100px;        /* concuerda con ancho del header*/
    left: 0;
    bottom: 50px;      /*dejando espacio para pie de pagina*/
    width: 200px;
    padding: 20px 10px 60px 100px;
    background-color: #FDFDFD;
}

section {
    overflow-y: scroll;
    position: fixed;   /*posición fija*/
    top: 100px;        /* concuerda con ancho del header*/
    left: 300px;       /*concuerda con ancho del aside*/
    bottom: 50px;   
    width: 70%;
    padding: 20px 50px 60px 60px;
}

/* TIENDA ------------------------------------------------------------------- */

.subheading{                                                                    /*"Subtítulo Filtros"*/
    font-family: "Times New Roman","Garamond";
    font-size: 26px; 
}

.nomItem {
    font-size: 20px;
}

.articulo{
    /*border: 1px solid whitesmoke;*/
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.articulo h3, .articulo p {
    width: 200px;
}

.articulo a{
    margin: 0 auto;
    width: 200px;
}

.articulo img{
    width: 250px;
}


/* BLOG --------------------------------------------------------------------- */

.sideNews img{
    width: 160px;
}

.blogPost{
    width:100%;
    height: 200px;
    margin: 20px 0;
    
}

.blogPost img{
    width: 200px;
    height: 200px;
    float: left;   
    margin-right: 40px;
}

.division{ border: 1px solid whitesmoke; }


/* BLOG-POST ---------------------------------------------------------------- */

.posteo{   
    font-size: 20px;
    line-height: 30px;
}